/target
**/*.rs.bk
/rtoml.so
__pycache__/
*.py[cod]
*.egg-info/
/dist/
/build/
/env/
/env3*/
.pytest_cache/
.mypy_cache/
/sandbox/
/htmlcov/
/.idea/
/.vscode/
/rtoml/*.so
.coverage
.auto-format
/toml-test/
/.benchmarks/
